$dark: black;
$light: white;

@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return $dark; // Lighter background, return dark color
  } @else {
    @return $light; // Darker background, return light color
  }
}

$primary-bg: #327bb7;
$primary-color: set-text-color($primary-bg);

$secondary-bg: #ff7d09;
$secondary-color: set-text-color($secondary-bg);

$success-bg: #00c092;
$success-color: set-text-color($success-bg);

$warning-bg: #e8d700;
$warning-color: set-text-color($warning-bg);

$error-bg: #d0021b;
$error-color: set-text-color($error-bg);

$light-bg: #e5e5e5;
$light-color: set-text-color($light-bg);

$info-bg: #b9b9b9;
$info-color: set-text-color($info-bg);

$dark-bg: #5d5d5d;
$dark-color: set-text-color($dark-bg);

$black-bg: black;
$black-color: set-text-color($black-bg);

$white-bg: white;
$white-color: set-text-color($white-bg);

