$primary-color: #fff;
$primary-bg: #327BB7;

$secondary-color: #5D5D5D;
$secondary-bg: #FF7D09;

$success-color: #fff;
$success-bg: #00C092;

$warning-color: #5D5D5D;
$warning-bg: #E8D700;

$danger-color: #fff;
$danger-bg: #D0021B;

$light-color: #212529;
$light-bg: #f8f9fa;

$info-color: #fff;
$info-bg: #17a2b8;

$dark-color: #fff;
$dark-bg: #343a40;
