is-readmore {
    display: block;
    .content {
        position: relative;
        width: 100%;
        height: var(--height, 260px);
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &.active {
            height: auto;
            overflow: unset;
            position: unset;
            transition: all 0.3s ease-in-out;
            &:before {
                display: none;
            }
        }
        &:before {
            background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 40%,#ffffff 100%);
            background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 40%,#ffffff 100%);
            background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 40%,#ffffff 100%);
            background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 40%,#ffffff 100%);
            height: 45px;
            bottom: 0;
            position: absolute;
            z-index: 2;
            right: 0;
            left: 0;
            content: "";
        }
    }
    .content-toggle {
        display: flex;
        width: 100%;
        cursor: pointer;
    }
    .align-right {
        justify-content: flex-end;
    }
    .align-center {
        justify-content: center;
    }
    .align-left {
        justify-content: flex-start;
    }
}